<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/aboutStyles.css">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Chakra+Petch&family=Nunito&family=Orbitron&family=Space+Grotesk:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
    <title>Sammantha Preston</title>
</head>

<body>

    <main>
        <div id="largeCard">


            
            <div id="proCard">
                <span id="pImg"><img src="/public/img/proPic.jpg"></span>
                <span id="titleCard">
                    <h1>Sammantha Preston</h1>
                    <h3>Head in the clouds,  eyes on the stars.</h3>
                </span>
              
            </div>
            <!--This will contain 4 functions that pull up content: About, Projects Resume, Contact-->


            <div id="contentCard">
                  <nav id="pageSelection">
                    <button class="navButt" value="About">About</button>
                    <button class="navButt" value="Projects">Projects</button>
                    <button class="navButt" value="Resume">Resume</button>
                    <button class="navButt" value="Contact">Contact</button>
                  </nav>
                <div id="retroScreen"></div><!--Insert magnify glass icon when clicked will open retScrn to fill page-->
            </div>
        </div>
        <script src="/public/js/mainContent.js"></script>
    </main>

</body>

</html>