/* --  ! containers need dimentions changed to be responsive: text (vw or rem), image and div (%) */
/* --Media Query break point that sets the navigation bar set to the top of screen. Photo on left side and buttons on right*/
/* ..retScrn is 100% vw to view content inside*/


/* -- Google fonts*/
/* font-family: 'Amatic SC', cursive; */
/* font-family: 'Chakra Petch', sans-serif;*/
/* font-family: 'Nunito', sans-serif; */
/* font-family: 'Orbitron', sans-serif; */
/* font-family: 'Space Grotesk', sans-serif; */
/* -- Google fonts*/

*{
    margin: 0;
    padding:0;
}
body{
    background-color: #000033;
}
#largeCard{
    margin: 50px;
    padding: 2vh;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    background-image: url(/public/img/background1.png);
    border-radius: 10px;

    display:flex;
    flex-direction: column;

}


/*Upper row*/
#proCard{
    padding: 2vw;
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: #0000335f;
    /* border: 1px solid wheat; */
    
}
#pImgCont{
    align-self: center;

    /* border: 1px solid white; */
}
#pImgCont>img{
    width: 40vh;
    padding: 25px;
    border: 1px solid white;
    border-radius: 50%;
    align-self: center;
    box-shadow: 0 0 10px 10px rgb(27, 27, 89);

    position: relative;
    left: 10vh;
}

#titleCard{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000033af;


    /* border: 1px solid white; */
}
#titleCard>h1{
  
    color: #cc7a00;
    font-size: 10vh;
    font-family: 'Chakra Petch', sans-serif;
   
}
#titleCard>h3{
    /* border: 1px solid wheat; */
    font-size: 5vh;
    font-family: 'Rajdhani', sans-serif;
    color:wheat;
    
}
/*Lower Row*/
#contentCard{
    padding: 2vh;
    background-color:#000033d3;
    align-self: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    /* border: 1px solid white; */
}

nav{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 1px solid wheat; */
}
.navButt{
    margin: 2vh 0; 
    padding: 10px 30px;
    font-size: 30px;
    background-color:#00003386;
    color: wheat;
    border: 6px outset #020256;
    /* box-shadow: 0 0 20px rgb(66, 44, 101); */
    /* border-radius: 10px; */
}
/*JS Styles applied onclick*/
.change{
    color: rgb(97, 140, 157);
    background-color:#000033;
    border: 6px inset #020256;
    box-shadow: none;
}

/*dynamic screen*/
#retroScreen{
    /* -- size should be static regardless of the page loaded */
    padding: 5vh;
    width: 80vw;
    height: 65vh;
    background-color:#37689D;
    border: 15px inset rgb(9, 9, 82);
    
    align-self: center;
    display:flex;
    flex-direction:column;
 
}

.subTit{
    padding: 5px 0 0 20px;
    width: 100%;
    color: wheat;
    background-image: linear-gradient(to right, #523ea3, #5d4ba4, #A6C8ED);
    /* border: 3px solid #e2d9ce; */
    text-align: left;
    align-self:center;
}


.conCan{
    /* padding: 20px; */
    width: 80%;
    height: 100%;
    background-color: #c2bdb7;
    border: 3px solid #e2d9ce;
    align-self: center;
   contain: content;
}
/*About Me*/
#innerCont{
    height: 800px;
    border: 1px solid black;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.conCan-ButtonSelectContainer{
    padding: 3px;
}
.conCan-ButtonSelectContainer>button{
    width: 100%;
}
.conTxt{
    padding: 2vh;
    width: 70%;
    font-size: 2.3vh;
    background-color: white;
    border-left: 1px solid rgb(136, 255, 253);
}
.resIcon{
    height: 5vh;
    
}






