/* --  * containers need dimentions changed to be responsive: text (vw or rem), image and div (%) */
body{
    background-color: #000033;
}
#largeCard{
    margin: 50px;
    padding: 40px 30px;
    height: 950px;
    display:flex;
    flex-direction: row;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    background-color:#000033;
    border-radius: 10px;
    contain: content;
}
#titleCard{
    width: 100%;
    text-align: center;
}
#titleCard>h1{
    color: #cc7a00;
    margin-top: 50px;
    font-size: 60px;
    /* font-family: 'Amatic SC', cursive; */
    font-family: 'Chakra Petch', sans-serif;
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: 'Orbitron', sans-serif; */
    /* font-family: 'Space Grotesk', sans-serif; */
}
#titleCard>h3{
    margin: 10px;
    font-size: 40px;
    color:white;
}
#contentCard {
    display:flex;
    flex-direction:row;
    
}
nav{
    margin-right: 50px;
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
    /* border: 1px solid wheat; */
}
img{
    margin-top: 50px;
    padding: 25px;
    width: 22vw;
    border: 1px solid white;
    border-radius: 50%;
    position: relative;
    bottom: 40px;
   

}
#pageSelection{
    margin-top: 15px;
    display:flex;
    flex-direction: column;
    /* border: 1px solid wheat; */
}
.navButt{
    margin: 25px 0px;
    padding: 15px 20px;
    font-size: 30px;
    background-color:rgb(4, 4, 78);
    color: white;
    border: 1px solid rgb(4, 4, 49);
    box-shadow: 0 0 20px rgb(4, 6, 33);
    border-radius: 10px;
}
.navButt:hover{
    background-color:rgb(3, 3, 62);
}

/*dynamic screen*/
#retroScreen{
    /* -- size should be static regardless of the page loaded */
    margin: 80px 50px 0px 50px;
    height: 65%;
    background-color:#37689D;
    align-self: center;
    border: 15px inset rgb(9, 9, 82);
    display:flex;
    flex-direction:column;
    align-items: center;
    position: relative;
    bottom: 30px;
}
#bioContainer{
    padding: 20px;
    width: 90%;
    background-color: #5a8cc3;
    
   
}
#bio{
   
}
.change{
    background-color:rgb(3, 3, 62);
    box-shadow: 0px 0px 20px  #6600cc; 
}


