body{
    padding: 3%;
    background-color: #000033;
}
.card{
    padding: 3%;
    border-radius: 5px;
    box-shadow: 0 0 20px 10px #030324;
    
    
}
#intro{
    display:flex;
    flex-direction: row;
    /* border: 1px solid white; */
}
img{
    margin-top: 50px;
    padding: 25px;

    width: 22vw;
    border: 1px solid white;
    border-radius: 50%;
    
    position: relative;
    right: 20px;
    bottom: 40px;
    box-shadow: 0 0 20px 10px #0e0e60;
}
#title{
    margin-left: 2em;
    background-color: #01015666;
    
    width: 100%;
    /* border: 1px solid white; */
    text-align: center;
}
#name{
    
    background-color: #000033;
    /* border: 1px solid white; */
    box-shadow: 0 0 20px 10px #030324;
    border-radius: 5px;
}
#name>h1{
    margin:  0;
    color: #cc7a00;
    font-size: 5rem;
    font-family: 'Chakra Petch', sans-serif;
    /* border: 1px solid white; */
}
h3{
    margin:0;
    color: #fdfcfc;
    font-size: 3rem;
    /* border: 1px solid white; */
}
#aboutMe{
    margin-top:
}
#retroScreen{
    /* -- size should be static regardless of the page loaded */
    margin-top: 50px;
    height: 500px;
    background-color:#37689D;
    align-self: center;
    border: 15px inset rgb(9, 9, 82);
    display:flex;
    flex-direction:column;
    align-items: center;
    position: relative;
    bottom: 30px;
}